@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../public/fonts/Poppins/Poppins-Black.woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}
:root {
  --clr-off-white: #e5e5e5;
  --clr-off-grey: #dcdcdc;
  --clr-dark-grey: #7e7878;
  --clr-header: #456293;
  --clr-btn: #59748c;
  --clr-dark-blue: #2c3843;
  --clr-dark-blue-opa: #1b1f223d;
  --ff-font-family: "Poppins", "serif";
}

body {
  font-family: var(--ff-font-family);
  background-color: rgb(211, 211, 211);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}

button,
i {
  cursor: pointer;
}
img {
  max-width: 100%;
}
/* -------------- media queries ----------------- */

@media screen and (max-width: 680px) {
}
