.container {
  height: 94vh;
  width: min(100% - 12px, 800px);
  padding: 2rem 3rem;
  margin-inline: auto;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home_wp {
  max-width: 100%;
  object-fit: cover;
  height: 90vh;
  border-radius: 100px;
  padding: 2rem 1rem;
}
.main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 2em;
}
.dark .main {
  color: var(--clr-off-white);
}
.main_left {
  margin-top: 6em;
}
.main_left > * {
  margin-bottom: 0.5em;
}
.headline{
  color: var(--clr-bl);
  font-size: 3em;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
}
.para {
  margin-top: 2em;
  width: 34ch;
  font-weight: 400;
  letter-spacing: 0.8px;
}
/* buttons */
.container_btns {
  margin-top: 2em;
  width: 14em;
  gap: 1em;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4em;
  margin-top: 0.6em;
  width: 8em;
  padding: 8px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}


/* dark mode */
.light {
  background-color: var(--clr-off-white);
}
.dark {
  background-color: var(--clr-dark-grey);
}
.light .container {
  background-color: var(--clr-off-grey);
}
.dark .container {
  background-color: var(--clr-header);
}
.light .btn {
  background-color: var(--clr-header);
  color: var(--clr-off-white);
}
.light .btn:hover {
  opacity: 0.8;
  color: var(--clr-off-white);
  transition: 0.3s ease-in-out;
}
.dark .btn {
  background-color: var(--clr-black);
  color: var(--clr-off-grey);
}
.dark .btn:hover {
  opacity: 0.8;
  color: var(--clr-dark-grey);
  transition: 0.3s ease-in-out;
}

.footer {
  font-size: 0.6em;
  align-self: center;
}
