.container {
  width: min(100% - 20px, 800px);
  margin-inline: auto;
  background-color: var(--clr-off-white);
}
.message {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  width: 100%;
}
@media (max-width: 680px) {
  .message {
    display: flex;
    flex-direction: column;
  }
  .center {
    overflow: auto;
    height: 90vh;
    justify-content: center;
  }
  .list_item {
    width: 11em;
  }
}
.light {
  background-color: var(--clr-off-white);
}
.dark {
  background-color: var(--clr-header);
}

